@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.border-r-1 {
  border-right-width: 1px;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.border-t-1 {
  border-top-width: 1px;
}
